# Visual Studio / Visual Studio for Mac
.vs/
bin/
obj/
Debug/
Release/
*.dll
*.exe

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
packages/
*.pdb
*.cache
*.log

# MSTest Test Results
[TestResults|_testResults]/

# Test project output folder
**/bin/
**/obj/

# ASP.NET Core
*.User
*.psess
*.dbmdl
wwwroot/uploads/
appsettings.json
appsettings.Development.json

# Files for Visual Studio Code
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates