<form (ngSubmit)="sendUser()">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" [(ngModel)]="formUser.nombre" name="name" class="form-control" id="name" placeholder="Type your name..." required>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">LastName</label>
        <input type="text" [(ngModel)]="formUser.apellido"  class="form-control" name="lastName" id="lastName" placeholder="Type your lastName..." required>
    </div>
    <div class="mb-3">
        <label for="birthday" class="form-label">Birthday</label>
        <input type="date" [(ngModel)]="formUser.fechaNacimiento" class="form-control" name="birthday" nameid="birthday" placeholder="Type your birthday..." required>
    </div>
    <div class="mb-3">
        <label for="CUIT" class="form-label">CUIT</label>
        <input type="text" [(ngModel)]="formUser.cuit" class="form-control" name="CUIT" id="CUIT" placeholder="Type your CUIT..." required>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" [(ngModel)]="formUser.domicilio" class="form-control" name="address" id="address" placeholder="Type your address...">
    </div>
    <div class="mb-3">
        <label for="telphone" class="form-label">Telphone number</label>
        <input type="text" [(ngModel)]="formUser.telCelular" class="form-control" name="telphone" id="telphone" placeholder="Type your telphone..." >
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" [(ngModel)]="formUser.email" class="form-control" name="email" id="email" placeholder="Type your email...">
    </div>
    <div class="mt-3 mb-2 botones-submit">
        <button id="boton-registrar" class="btn btn-lg" [ngClass]="{ 'btn-dark': !isAnUserToEdit , 'btn-success': isAnUserToEdit }">{{ !isAnUserToEdit ? 'Registar' : 'Editar' }}</button>
    </div>
</form>
<button id="botonSwitch" type="button" class="btn btn-warning btn-sm" (click)="swithButton()">Cambiar</button>